.App {
  text-align: center;
}

.nav-link {
  text-decoration: none;
  background-color: #61DAFB;
  border-radius: 8px;
  color: black;
  padding: 20px;
  margin: 20px 50px;
  transition: ease-in;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  margin-bottom: 3rem;
}